*{
    font-family: Garamond, 'Times New Roman', Georgia;
    font-weight: 200;
    background-color: #1e3a5f;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}


h1{
    text-align: center;
    font-weight: bold;
    color: #f7fafc;
}

#photo{
    width: 200px;
}

.subtitle{
    color: rgb(157, 163, 178);
    text-transform: uppercase;
}

section {
    background-color: #2b4c6e;
    margin: 4px 2px 8px 2px; 
    border: 0.2pt solid #cedddd; 
    padding: 1.5% 0.8%; 
    padding-left: 1.2%; 
    padding-right: 1.2%;

    -webkit-border-radius: 5px; 

    -moz-border-radius: 5px;    
 
    border-radius: 5px;   
    
    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
  }

  nav ul {
    background-color: #2b4c6e;
    display: flex;									
    justify-content: space-around;
   
}

nav ul li a {
    color: #f0f0f0; 
    text-decoration: none;
    padding: 4px;
}

nav ul li a:hover {
    color: #f7fafc;
    background-color: #506a8b; 
    border-radius: 3px;
}

section form {

    /* Modelo de diseño en cuadrícula */
    display: grid;									
    row-gap: 0.5rem;

}

#resumen{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 36vh;
    flex-wrap: wrap;
}

#resumen h2, #resumen p{
    width: 50%;
    color: #d9e2ec;
}


#resumen img{
    max-width: 50%;
    border: 2px solid #506a8b;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}